@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body{
    font-family: 'Arvo', serif;
    color: white;
    background-color: rgb(5, 25, 43);
    margin: 0 auto;
    width: 1360px;  
} 